.text{
    text-align: justify;
    text-justify: inter-word;
}

.photo{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover
}

#photoDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;   
}

#proyectContainer{
    display: flex;
    flex-direction: row;
    
    align-items: center;   
}

.subtitle{
    color: gainsboro;
}

.mail{
    color: gainsboro;
}

.text{
    color: gray;
}